body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pokemon-list > div {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.pokemon-list div {
  text-align: center;
}

.prev-button {
  float: left;
}
.next-button {
  float: right;
}
.hide {
  display: none;
}
